{% extends "base.html" %}
{% block body %}
    <div class="container col-8 mt-3">
        <div>
            <h1 class="my-3 text-center" id="title">
                <button class="btn btn-secondary btn-lg py-0" onclick="window.history.back()"> Go Back <i
                        class="fas fa-arrow-circle-left "></i></button>
                DEVICE INFO
            </h1>
            </h1>
            <h5 id="last-refresh" class="text-center">LAST REFRESH: </h5>
        </div>
        <div id="device-info" class="justify-content-center d-flex"
             hx-get="{{ url_for('device_info', device_id=device.id) }}" hx-trigger="every 5s"
             hx-target="#device-info">
            {% include "device_info.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('last-refresh').innerText = 'LAST REFRESH: ' + get_formatted_date();
        htmx.on("htmx:afterRequest", function (evt) {
            // Aggiorna il timestamp dell'ultimo aggiornamento ogni volta che i dati vengono aggiornati
            var timestampElement = document.getElementById("last-refresh");
            timestampElement.innerText = 'LAST REFRESH: ' + get_formatted_date();
        });
    </script>
{% endblock %}
